

 header{
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

   
/* Some more styles to beutify this example */
nav a{
    color: #fff;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
