<app-header>

</app-header>
<article>
  <div class="col-md-12 row">
    <a routerLink="/login" class="col-md-6">
  
      <div class="four-agileits">
        <div class="icon">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="four-text">
          <h3>Create Expenses</h3>
          <h4>- </h4>

        </div>

      </div>
    
  </a>
  <a routerLink="/login" class="col-md-6">
        <div class="four-agileits">
          <div class="icon">
            <i class="fa fa-list" aria-hidden="true"></i>
          </div>
          <div class="four-text">
            <h3>Show Expenses</h3>
            <h4> 24,420 </h4>
  
          </div>
  
        </div>
      </a>
      
  </div>
   

</article>
<app-footer>

</app-footer>